[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
mysqlclient = "*"
drf-nested-routers = "*"
pillow = "*"
django-debug-toolbar = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
